/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
header {
  background-color: rgb(255, 105, 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

header .categories {
  display: flex;
  gap: 15px;
  font-weight: bold;
}

header .actions {
  display: flex;
  gap: 15px;
}

header .logo img {
  max-width: 50%;
  max-height: 50px;
  margin: 10px;
}

/* Main */
main {
  width: 80%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: calc(100% / 3 - (40px / 3));
  border: solid 1px #ccc;
  /* position: relative; */
  cursor: pointer;
}

.card img {
  width: 100%;
  height: auto;
}

/* Footer */
footer {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

footer .contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

footer .social-networks {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 15px;
  margin: 10px;
}

footer .information-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

footer .useful-information {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Generics */
a {
  color: #fff;
  text-decoration: none;
}
