/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* /* footer styles:  */
/* 
footer contenitore 
    - info section
        -company name
        -legal  section
            - legal information
            - privacy information
            - Cancellation rights
    - contacts
        - Trovaci anche su:
        - social-networks
            -twitter
            -instagram
            -facebook
            -youtube
*/

/* Footer */
footer {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

footer .contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

footer .social-networks {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 15px;
  margin: 10px;
}

/* Generics */
a {
  color: #fff;
}
