/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
header {
  background-color: rgb(255, 105, 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  min-height: 80px;
}

header .categories {
  display: flex;
  gap: 15px;
  font-weight: bold;
}

header .actions {
  display: flex;
  gap: 15px;
}

header .logo img {
  max-width: 50%;
  max-height: 50px;
  margin: 10px;
}

/* Main */
main {
  width: 80%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 50px auto;
}

.card {
  width: calc(100% / 3 - (40px / 3));
  position: relative;
  cursor: pointer;
}

/* sezione per nascondere la prima img e far apparire la seconda al passaggio del mouse */
.img-wrapper {
  position: relative;
}

.img-wrapper img {
  width: 100%;
}

.img-wrapper img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.img-wrapper:hover img:nth-child(2) {
  opacity: 1;
}

.img-wrapper:hover img:nth-child(1) {
  opacity: 0;
}

/* label section */
.label {
  padding: 5px 10px;
  color: #fff;
  font-weight: bold;
  position: absolute;
  bottom: 150px;
}

.label.discount {
  background-color: red;
}

.label.soustenibility {
  background-color: green;
}

.label.soustenibility.badge {
  position: absolute;
  left: 65px;
}

/* heart section */
.cuore {
  position: absolute;
  right: 0px;
  top: 10px;
  font-size: 25px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

.product-info {
  margin-bottom: 50px;
}

/* tecnica di centratura per icona cuore al centro della carta
.fa-heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card:hover .cuore {
  display: block;
}
*/

/* Footer */
footer {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  min-height: 110px;
}

footer .contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

footer .social-networks {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 15px;
  margin: 10px;
}

footer .information-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

footer .useful-information {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Generics */
a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

ul li:nth-child(2) {
  font-weight: bold;
}

ul li:nth-child(3) {
  color: red;
  font-weight: bold;
}

li > s {
  color: black;
  font-weight: normal;
}
