/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* footer */
/* 
- footer contenitore 
    - info section
        -logo
        -legal  section
            - legal information
            - privacy information
            - Cancellation rights
    - contatti
        - Trovaci anche su:
        - social section
            -twitter
            -facebook
            -instagram
            -pinterest
            -youtube






*/
